<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usuario.calculo_fct_plus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatosEmpresaActivity"
            android:label="@string/title_activity_datos__empresa_"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"
            />
        <activity
            android:name=".CalculoActivity"
            android:label="CalculoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"
            />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

        <activity
            android:name=".DatosAlumnosActivity"
            android:label="DatosAlumnosActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"
            />
        <activity
            android:name=".RelacionaAlumnosActivity"
            android:label="@string/title_activity_relaciona_alumnos"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"
            />
    </application>

</manifest>
